@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Serif:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-style: normal;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{
  --primary-color: #000000;
  --secondary-color: rgba(0, 0, 0, 0.5);
  --accent-color: rgba(17, 17, 17, 1);
  --btn-color:#E95A08;
  --text-color:#FFFFFF;
}

/* nav style section  */
.container{
  max-width: 1140px;
  margin: 0 auto;
}

.nav-flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  align-items: center;
}
.menu-wrapper,
.main-menu{
  display: flex;
  align-items: center;
}
ul.main-menu li{
  list-style: none;
}
ul.main-menu li a{
  text-decoration: none;
  margin: 48px;
  color: var(--secondary-color);
}
.home{
  color: #252432;
  font-weight: bold;
}

/* banner style start  */
.banner-flex-container{
  display: flex;
  justify-content: space-between;
  align-items:end;
  margin-top: 120px;
}
.color2{
  color: var(--btn-color);
}
.text-container h1{
  font-size:4.03rem ;
}
.text-container p{
  font-size: 1.5rem;
  color: var(--secondary-color);
}




@media screen and (max-width:576px) {
  .main-menu{
    display: none;
  }
  .nav-flex-container{
    margin: 13px 16px;
  }


}